<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarUsu</servlet-name>
        <servlet-class>RegistrarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarUsu</servlet-name>
        <servlet-class>ActualizarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsu</servlet-name>
        <servlet-class>EliminarUsu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenerImg</servlet-name>
        <servlet-class>obtenerImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autorizar</servlet-name>
        <servlet-class>Autorizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUsu</servlet-name>
        <url-pattern>/RegistrarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarUsu</servlet-name>
        <url-pattern>/ActualizarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsu</servlet-name>
        <url-pattern>/EliminarUsu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenerImg</servlet-name>
        <url-pattern>/obtenerImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autorizar</servlet-name>
        <url-pattern>/Autorizar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
