// Archivos parciales
@use '../abstracts/colors' as color;
@use '../abstracts/fonts';

body {
    background: color.$blanco-kuali;
    width: 100%;
    height: 100%; 
}

.contenedor-dashboard {
    display: flex;
    flex-direction: row;

    .menu-lateral {
        background: linear-gradient(90deg, color.$azul-kuali 10%, color.$verde-kuali 80%);
        width: 23%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;

        img {
            width: 160px;
            padding: 20px 50px;
            float: left;
        }

        .opciones-cafeteria, .salir {
            padding: 100px 50px;

            a {
                text-decoration: none;;
                color: color.$blanco-kuali;
                
                
                i {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    padding-bottom: 20px;

                    .titulo-terciario {
                        padding-left: 20px;
                    }
                }
            }

            a:hover {
                color: color.$amarillo-kuali;
            }

            .active {
                color: color.$amarillo-kuali;
            }
        }
    }

    .contenido {
        width: 100%;
        height: 100vh;
        background: color.$blanco-kuali;

        .menu-administrador {
            width: 100%;
            background-color: color.$blanco-kuali;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            //position: fixed;
            //box-shadow: 0px 3px 6px color.$negro-kuali;

            img {
                width: 75px;
                border-radius: 50%;
                margin: 10px 50px;
                border: 2px solid color.$azul-kuali;
            }

            .enlace {
                a {
                    color: color.$negro-kuali;
                    text-decoration: none;
                    cursor: pointer;
                }
        
                a:hover {
                    text-decoration: underline;
                }
        
                i {
                    margin-right: 10px;
                }
            }

            .primero {
                margin-left: 50px;
            }
        }
    }
}