//Archivos Parciales
@use '../abstracts/colors' as color;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,300&display=swap");

footer {
    background: linear-gradient(150deg, color.$negro-kuali 15%, color.$verde-kuali 80%);
    width: 100%;
    max-height: 300px;
    height: 300px;
    font-family: 'Poppins', sans-serif;
    
    .presentacion-kuali {
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        h3 {
            color: color.$amarillo-kuali;
            font-weight: 800;
            font-size: 30px;
            padding-left: 20px;
        }

        p {
            color: color.$blanco-kuali;
            font-size: 18px;
            padding-left: 20px;
        }
    }

    .derechos {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        color: color.$blanco-kuali;

        p {
            margin: 0px 20px;
        }

        a {
            text-decoration: none;
            color: color.$blanco-kuali;
            margin: 0px 20px;
        }

        a:hover {
            color: color.$amarillo-kuali;
        }
    }
}

// Media Queries 

// Laptop 
@media screen and (max-width: 1600px) {
    .presentacion-kuali {
        h3, p {
            padding-left: 20px;
        }
    }
}