.contenedor_principal {
    background: linear-gradient(195deg, #00000F 20%, #075523 100%);
    width: 100%;
    height: 100vh;
    position: fixed;
    font-family: 'Poppins', sans-serif;
}
/************ MENÚ ************/
.contenedor_principal .menu {
    position: relative;
	width: 100%;
    height: 100px;
}

.contenedor_principal .menu img {
    width: 160px;
    padding: 20px 50px;
    float: left;
}

.contenedor_principal .menu .indice {
    float: right;
    padding-right: 50px;
}

.contenedor_principal .menu .indice a {
    color: #fff;
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin: 40px 20px;
	text-decoration: none;
	position: relative;
}

.contenedor_principal .menu .indice a:hover {
    color: #CF9635;
    transition: 0.5s
}

/*********** HEADER ********/
.contenedor_principal .header {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}

.contenedor_principal .header h1 {
    color: #CF9635;
    font-size: 50px;
    margin-bottom: 10px;
}

.contenedor_principal .header p {
    color: #F6F4F4;
    text-align: center;
}


/*********** DATOS DE CONTACTO ********/
.contenedor_principal form {
    width: 100%;
    padding: 50px;
}

.contenedor_principal form h2 {
    color: #CF9635;
}

.contenedor_principal form .datos_de_contacto {
    width: 50%;
    display: flex;
    flex-flow: column;
}


.contenedor_principal form input {
    height: 50px;
    border-radius: 50px;
    border-style: none;
    margin: 20px 10px 20px 10px;
    padding-left: 20px;
    background-color: rgba(94, 94, 94, 0.35);
}

.contenedor_principal form .experiencia {
    width: 50%;
    display: flex;
    flex-flow: column;
    
}


.contenedor_principal form .mensaje {
    width: 50%;
    display: flex;
    flex-flow: column;
}