body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url("https://previews.123rf.com/images/olyaw/olyaw1709/olyaw170900003/85387590-varios-desayunos-en-un-fondo-marr%C3%B3n.jpg");
    background-size: cover;
    background-attachment: fixed;
}
* {
    box-sizing: border-box;
}
.contenedor{
    width: 100%;
    padding: 15px;
}

.radiob{
    text-align: right;
    font-size: 20px;
    width: 82%;
    padding: 10px;
}

.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    background: rgba(4, 41, 44, 0.623);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: rgb(11,194,211,0.623);
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: rgb(11,194,211,0.623);
    font-weight: 600;
}
.link:hover{
     color: rgb(11,194,211,0.623);
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
