:root{
  --color1:rgb(255, 252, 60);
  --color2: rgb(92, 255, 60);
  --color3: #000000fd;
  --fondo: rgb(231, 231, 231);
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenidos: 45px;
}


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: 'open sans';
  background: url("https://previews.123rf.com/images/olyaw/olyaw1709/olyaw170900003/85387590-varios-desayunos-en-un-fondo-marr%C3%B3n.jpg");
  background-size: cover;
  background-attachment: fixed;
}

img{
  vertical-align: top;
}

/* Preloader */
.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: rgb(0, 0, 0);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }

/* Header */

header{
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom,
  rgb(11,194,211,0.623),
  rgb(92, 255, 60, .6)
  ), url(https://previews.123rf.com/images/olyaw/olyaw1709/olyaw170900003/85387590-varios-desayunos-en-un-fondo-marr%C3%B3n.jpg);
  background-attachment: fixed;
  background-size: cover;
}

nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.nav1{
  background: transparent;
  height: 50px;
  color: whitesmoke;
}

.nav2{
  background: rgba(207, 207, 207, 0.623);
  height: 80px;
  color: black;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: inherit;
  overflow: hidden;
}

nav .enlaces a {
  display: inline-block ;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid #000000;
  transition: 0.6s;
}

.logo, .logo img{
  height: 80px;
}

.icono{
  display: none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.letras{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  overflow: hidden;
  text-align: center;
}

.letras>h1{
  font-size: 80px;
}

.letras>h2{
  font-size: 30px;
  font-weight: 300;
}

/* Main */

.destacados{
  margin: auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.destacados h3{
  font-size: var(--titulos);
  color: var(--color3);
  margin-bottom: var(--espacios);
}

.destacados p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color3);
}

.after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 250px;
  height: 2px;
  background: #0bc2d39f;
  margin-bottom: var(--espacios-contenidos);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-card{
  width: 31%;
  box-shadow: 0 0 6px rgba(150, 187, 255, 0.5);
  overflow: hidden;
  height: 400px;
}

.banner{
  height: auto;
  /* en esta parte se deja en "auto" para que se adapte mejor al tipo de imagen
  pero, en caso de necesitarlo, se puede cambiar a un 80% (recomendado) para una
  buena relación
   */
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.texto-card{
  height: 0px;
  width: 100%;
  padding: var(--espacios) 0;
  
}

@media screen and (max-width: 700px){
  .nav2{
    color: #ffffff;
  }
}

.table{
	margin: 5px auto;
	width: 50px;
}