// Archivos parciales
@use 'components/dashboard';
@use 'abstracts/colors' as color;
@use 'abstracts/fonts';

.contenedor-dashboard {
    .contenido {
        width: 100%;
        height: 100%;

        .cafeterias-por-autorizar, .cafeterias-autorizadas {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            margin: 0% auto;

            .titulo-secundario {
                color: color.$verde-kuali;
            }

            .titulo-cuarto {
                color: color.$blanco-kuali;
                padding: 10px;
            }
        }
    }
}