// Archivos parciales
@use 'components/dashboard';
@use 'abstracts/colors' as color;
@use 'abstracts/fonts';

.cafeterias {

    .cafeteria {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        background: color.$cafe-kuali;
        border-radius: 10px;
        width: 90%;
        padding: 5px 25px;
        margin: 50px auto;

        .titulo-terciario, .texto {
            color: color.$blanco-kuali;
        }

        .fa-circle {
            width: 5px;
            border-radius: 50px;
            color: color.$status-activo;
            margin-left: 10px;
        }

        .pendiente {
            color: color.$amarillo-kuali;
        }

        .inactivo {
            color: color.$status-inactivo;
        }

        a {
            text-decoration: none;
            cursor: pointer;
            background: color.$status-inactivo;
            border-radius: 50px;
            padding: 5px 10px;
            color: color.$blanco-kuali;
        }

        input[type='submit'] {
            background: color.$amarillo-kuali;
            color: color.$azul-kuali;
            border: none;
            border-radius: 20px;
            padding: 10px 20px;
        }

        input[type='submit']:hover {
            background: color.$status-inactivo;
            color: color.$blanco-kuali;
        }
    }

    .cafeteria:hover {
        background: color.$verde-kuali;
    }
}