@use 'components/menu';
@use 'abstracts/colors' as color;

.contenedor-principal {
    background: color.$azul-kuali;
    height: 100vh;

    .contenedor-registro {
        color: color.$blanco-kuali;
        background: color.$verde-kuali;

        a {
            background: linear-gradient(45deg, color.$azul-kuali 30%, color.$cafe-kuali 80%);
            padding: 10px 30px;            
            border-radius: 50px;
        }
    }
}