// Archivos Parciales
@use 'abstracts/colors' as color;
@use 'abstracts/fonts';
@use 'components/dashboard';

.contenedor-dashboard {
    .contenido {
        width: 100%;
        height: 100%;
    
        .nuevo-producto {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 25px;
            margin: 25px;
            border-radius: 30px;
                
                .titulo-secundario {
                    margin-right: 50px;
                    color: color.$verde-kuali;
                }
    
                form {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    padding-left: 50px;
                    border-left: 2px solid color.$verde-kuali;
                
                    .campo {
                        outline: none;
                        border: none;
                        padding: 20px 0px;
                        border-bottom: 2px solid color.$verde-kuali;
                        background: none;
                    }
    
                    a {
                        background-color: color.$cafe-kuali;
                        color: color.$amarillo-kuali;
                        padding: 3% 0%;
                        text-decoration: none;
                        text-align: center;
                        margin-bottom: 20px;
                        justify-content: center;
                        border-radius: 5px;
                        
                        i {
                            margin-left: 10px;
                        }
                    }
    
                    a:hover {
                        background-color: color.$verde-kuali;
                        color: color.$blanco-kuali;
                    }
    
                    input[type="submit"] {
                        outline: none;
                        border-radius: 20px;
                        border-style: none;
                        margin-top: 30px;
                        padding: 15px;
                        color: color.$blanco-kuali;
                        width: 40%;
                        background: linear-gradient(125deg, color.$verde-kuali 20%, color.$cafe-kuali 80%);
                        cursor: pointer;
                        align-self: center;
                    }
                }
        }
    
        .table-header {
            margin: 20px 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .titulo-secundario {
                color: color.$verde-kuali;
            }
    
            p {
                margin-left: 50px;
                padding: 15px 0px;
                border-bottom: 3px solid color.$verde-kuali;
            }
        }
    
        table, tr, td, th {
            border: none;
            outline: none;
        }
    
        table {
            width: 100%;
            margin: 0px 50px 50px 50px;
    
            th {
                padding: 20px 0px;
                text-align: center;
                vertical-align: middle;
                color: color.$verde-kuali;
            }
    
            tr {
            
                td {
                    padding: 10px 5px;
                    text-align: center;
                }
    
                img {
                    width: 150px;
                    height: 100px;
                    border-radius: 20px;
                }
    
                .boton {
                    border: none;
                    outline: none;
                    text-align: center;
                    border-radius: 15px;
                    padding: 10px 20px;
                    background: color.$azul-kuali;
                    color: color.$amarillo-kuali;
                }
    
                .boton:hover {
                    background: color.$amarillo-kuali;
                    color: color.$azul-kuali;
                }
    
                .eliminar:hover {
                    background: color.$status-inactivo;
                    color: color.$blanco-kuali;
                }
            }
        }
    }
}