//ARCHIVOS PARCIALES
@use 'abstracts/colors.scss' as color;
@use 'components/menu';

.contenedor-principal {
    background: linear-gradient(90deg, color.$azul-kuali 10%, color.$verde-kuali 100%);
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Poppins', sans-serif;

    .contenido_faq {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        h2{
            color: color.$amarillo-kuali;
            font-size: 30px;
            padding-left: 40px;
        }

        .faq_usuarios, .faq_cafeterias {
            width: 50%;
            height: 100vh;
            padding: 50px 30px;

            .preguntas {
                margin-top: 50px;

                .contenedor-pregunta {
                    padding: 0px 40px;
                    transition: 0.3s ease all;
                    cursor: pointer;

                    .pregunta {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 30px;
                        font-size: 23px;
    
                        p{
                            color: color.$blanco-kuali;
                        }
        
                        i {
                            color: color.$amarillo-kuali;
                        }   
                    }

                    .respuesta {
                        color: color.$blanco-kuali;
                        font-style: 20px;
                        line-height: 30px;

                        max-height: 0;
                        opacity: 0;
                        overflow: hidden;
                        transition: 0.3s ease all;
                    }
                }

                .contenedor-pregunta.activa {
                    background:  rgb(color.$negro-kuali, 0.3);
                    border-radius: 5px;
                    padding-bottom: 10px;

                    .pregunta p {
                        color: color.$amarillo-kuali;
                    }

                    .respuesta {
                        max-height: 100%;
                        opacity: 1;
                        overflow: visible;
                        transition: 0.3s ease all;
                    }

                    i {
                        transform: rotate(180deg);
                    }
                }
            }
    
            hr{
                border: 1px solid color.$amarillo-kuali;
                margin-bottom: 50px;
            }
        }
    }

    .botones-flotantes {
        position: fixed;
        bottom: 50px;
        right: 70px;

        a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            padding: 20px;
            margin-top: 20px;
            border-radius: 100px;
            background: color.$amarillo-kuali;
            color: color.$cafe-kuali;
        }
    }
}