body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: url("https://media.giphy.com/media/TqiwHbFBaZ4ti/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 40%;
    background-attachment: fixed;
}

.aviso{
  font-family: monospace;
  font: Courier New;
  font-size: 170%;
  transform: rotate(-4.5deg); 
  position: relative;
  top: 250px; left: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #FC6078;
  overflow: hidden;
  text-align: center;
}
